body {
  background-color: #FFFFFF;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  color: #333333;
}

/*grid*/

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-container-3-rev {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

/*margin*/
.margin-top {
  margin-top: 25px;
}

.logo {
  margin-top: 75px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.margin-left {
  margin-left: 75px;
}

.margin-sides {
  margin: 8%;
}


/*padding*/
.padding-top {
  padding-top: 35%;
}

.padding-sm-top {
  padding-top: 50px;
}

.padding-bottom {
  margin-bottom: 35%;
}


.padding-left {
  padding-left: 30px;
}

/*center text*/
.center {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

/*typography*/
h1 {
  font-family: 'futura', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 3.8rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
  line-height: 2.3rem;
}

h4 {
  font-family: 'futura', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.8rem;
}

p {
  line-height: 1.45rem;
}

/*button*/
a {
  background-color: #ed1848;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ffff;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 20px;
}

a:hover {
  background-color: #6C5BA7;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border: #6C5BA7;
  transition-timing-function: linear;
}

.link {
  width: 50%;
  margin: 0 auto;
  padding-top: 25px;
  background: linear-gradient(to bottom, rgba(11,187,254,.15) 0%,rgba(125,85,155,.15) 45%,rgba(237,24,72,.15) 100%);
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  color: black;
  border: none;
  border-radius: 0;
}

.link:hover {
  background: linear-gradient(to bottom, rgba(11,187,254,1) 0%,rgba(125,85,155,1) 45%,rgba(237,24,72,1) 100%);
}

/*gradients*/
.gradient1{
background-image: radial-gradient(closest-side at 60% 55%, #75CEE3, #8199C4, #6C5BA7);
}

@media only screen and (max-width: 800px) {

  body {
    font-size: 15px;
  }

  .grid-container-2 {
    display: block;
  }

  .grid-container-3 {
    display: block;
  }

  .grid-container-3-rev {
    display: block;
  }
  .center {
    width: 90%;
  }

  .padding-top {
    padding-top: 10px;
  }

  .feature {
    margin-top: 150px;
  }

  .margin-left {
    margin-left: 0px;
  }

  .logo {
    margin-top: 10px;
    margin-left: 0px;
    height: 45px;
  }

  .testimonial {
    width: 65%;
  }

}
